body {
    background-color: aquamarine;
}
nav.navbar{
    background-color: rgba(255,255,255,0.8) !important;
}
.margin-bottom-100 {
    margin-bottom: 100px;
} 
.margin-bottom-50 {
    margin-bottom: 50px;
}   
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-top-25 {
    margin-top: 25px;
}
.padding-top-40 {
    padding-top: 40px;
}    
.box-left-dl{
    border: 1px black solid;
    padding: 2%;
}
body{
    background-image: url(https://images.wallpaperscraft.com/image/guitar_music_strings_bass_guitar_electric_guitar_82964_1920x1080.jpg);
    background-size: cover;
}

#login-page {
    height: 100%;
}

li, ul {
	list-style: none !important;
}

.container{
    margin-top: -56px;
    background-color: rgba(255,255,255,0.8);
    padding: 4%;
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
}
.login-box{
    margin-top: 25vh !important;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    padding:4%;
    border:1 px solid black;
    
}