.content-header h1 {
	color: #426d9d;
}

.menu-container {
    column-count: 2;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.alphaTabSurface {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: #FFF;
    border-radius: 3px;
}

.example-source, .description {
    margin-bottom: 10px;
}

.infobar {
	position: static;
	right: auto !important;
	top: auto !important;
	width: auto !important;
	padding: 30px 12px 0 12px !important;
}

.infobar.affix {
	position: static !important;
    left: auto  !important;
    margin-left: 0 !important;
}

.sidebar {
	padding-top: 0 !important;
}

@media only screen and (max-width: 1670px) and (min-width: 1250px) {
	.wrapper.with-container {
		max-width: none;
		left: 0;
	}
}

.wip {
	color: #999;
    font-size: 12px;
	font-weight: normal;
}

.menu-block td {
	width: 100%;
}